body
{
    background-color:#373636;
}
#navmat
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
li
{
    float: left;

}
li a
{
 text-decoration: none;
 display: block;
 margin-left:  100px;
 color: wheat;   
}