body
{
    background-color:#373636;
}
.navmat
{
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: rgb(23, 31, 31);
    position: sticky;
    top: 0;
    border: 1px hidden;
    border-radius: 5px;

}
li
{
    float: left;
}

li a
{
    display: block;
    color: wheat;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
}
li a:hover
{
    background-color: rgb(110, 208, 110);
    color: white;
}
#head1
{
    text-align: center;
    color: rgb(228, 134, 62);
    background: rgb(42, 42, 42);
    padding: 25px;
    margin: 0;
    border: 1px hidden;
    border-radius: 5px;
}
.trailtab1 
{
    width: 75%;
}
tr,td
{
    height: 100px;
    width: 500px;
}